---
---

@import "{{ site.theme }}";

.site-header {
    border-top: none !important; 
    border-bottom: none !important;
    margin-top: 10px;
}

.page-header {
    background-color: #bb1919;
    background-image: linear-gradient(120deg, #bb1919, #92211D);
}

.page-content {
    padding: 10px !important;

    h3 {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
        line-height: 1.1 !important;

        a {
            line-height: 1.1 !important;
        }
    }
}

// Hide project name
header h1:first-child {
    display: none;
}

div.news-brand {
    background-color: #bb1919;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-top: 5px;
}

div.news-red {

}